<!-- <div>
    <h1>Dynamic Form</h1>
    {{ form.value | json }}
    <form [formGroup]="form" novalidate (submit)="onSubmit($event)">
        <ng-container *ngFor="let field of fields" dynamic-field [field]="field" [group]="form"></ng-container>
    </form>
</div> -->
<!-- <div>
    <h1>Dynamic Form</h1>
    {{ form.value | json }}
    <form [formGroup]="form" novalidate>
        <ng-container *ngFor="let field of fields" dynamic-field [field]="field" [group]="form"></ng-container>
        <button (click)="clicked()" class="btn btn-primary mr-2" type="submit">Submit</button>
        <button (click)="cancel()" class="btn btn-secondary mr-2" type="button">Cancel</button>
    </form>
</div> -->
<div>
    <h4>Dynamic Form</h4>
    <dynamic-form [fields]="fields" [formGroup]="form"></dynamic-form>
    <button (click)="clicked()" class="btn btn-primary mr-2" type="submit">Submit</button>
    <button (click)="cancel()" class="btn btn-secondary mr-2" type="button">Cancel</button>

</div>